/* for mobile */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rowdies", cursive;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  border-bottom: 1.2px solid #eee;
}

#nav-name-image .name {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#nav-items-container-lg {
  display: none;
}

#nav-items-container {
  display: none;
}

#nav-items-container .navbar-items {
  list-style: none;
  position: absolute;
  background-color: #fff;
  width: 100vw;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.nav-item .nav-link {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  padding: 1.3rem;
  letter-spacing: 3px;
  border-bottom: 1.2px solid #eee;
}

.ham-menu .hamburger-image {
  width: 1.6em;
  height: 1.6em;
}
.ham-menu .close-menu {
  width: 1.4em;
  height: 1.4em;
}

.home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
  line-height: 3rem;
  background-color: rgba(229, 234, 238, 0.568);
}

.home-content .home-heading {
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.home-content .home-text {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  text-align: center;
}

.home-content .home-projects-btn {
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  width: 10rem;
  text-align: center;
  background-color: rgb(250, 214, 12);
  border-radius: 5%;
  letter-spacing: 0.1rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.about-content .heading-about {
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  margin: 1.5rem;
}

.about-content .about-details {
  line-height: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.heading-skills {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.8rem;
}

.about-content .skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.programing-icon {
  width: 5rem;
  height: 5rem;
}

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  background-color: rgba(229, 234, 238, 0.568);
  padding-top: 8rem;
}

.projects-content .heading-projects {
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  margin: 1.5rem;
}

.projects-content .subtitle-projects {
  line-height: 1.5rem;
  margin-bottom: 8rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 90%;
  margin-bottom: 8rem;
  line-height: 2.5;
  box-shadow: 2px 2px 5px #ccc;
  text-align: center;
  background-color: #fff;
  padding-bottom: 1rem;
}

.project-img {
  width: 100%;
}
.project-page-img {
  width: 100%;
  margin: 2rem;
}

.project-card-title {
  letter-spacing: 0.2rem;
}

.project-card-subtitle {
  font-size: 1.2rem;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.project-link {
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  width: 60%;
  text-align: center;
  background-color: rgb(250, 214, 12);
  border-radius: 5%;
  letter-spacing: 0.1rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  padding: 0.3rem;
  display: inline-block;
  margin-top: 1rem;
}

.download-project {
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  width: 13rem;
  text-align: center;
  background-color: rgb(250, 214, 12);
  border-radius: 5%;
  letter-spacing: 0.1rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
  gap: 3rem;
}

.contact-header {
  padding: 0 2rem 0 2rem;
  line-height: 1.5;
}

.contact-heading {
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  margin: 1.5rem;
}

.subtitle-contact {
  line-height: 1.5rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-content .contact-form {
  background-color: rgba(229, 234, 238, 0.568);
  padding: 2rem;
  width: 90%;
  display: block;
  text-align: center;
}

.label-input {
  color: #666;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}

.contact-input {
  color: #333;
  padding: 1rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1rem;
  letter-spacing: 0;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 2rem;
}

#message {
  resize: none;
  color: #333;
  padding: 1rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1rem;
  letter-spacing: 0;
  background: white;
  border-radius: 5px;
  font-weight: 500;
}

.error-message {
  color: red;
}

.contact-form .contact-btn {
  color: black;
  margin-top: 2rem;
  text-decoration: none;
  width: 8rem;
  text-align: center;
  background-color: rgb(250, 214, 12);
  border-radius: 5%;
  letter-spacing: 0.18rem;
  padding: 1rem;
  font-weight: bold;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

.footer-content {
  background-color: black;
  padding: 1rem;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.social-heading {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.copyright-footer {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.tools-container {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.tools-icons-project {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 1rem;
  justify-content: space-evenly;
}

/* for large screen */
@media (min-width: 768px) {
  .header-content {
    justify-content: center;
  }

  #nav-name-image {
    margin-right: auto;
  }

  #nav-items-container-lg {
    display: flex;
    margin-right: auto;
  }

  #nav-items-container-lg .navbar-items-lg {
    list-style-type: none;
    background-color: #fff;
    display: flex;
    gap: 3rem;
  }

  .nav-item-lg {
    list-style: none;
  }

  .nav-item-lg .nav-link-lg {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    width: 100vw;
    font-weight: 700;
    padding: 1.3rem;
    letter-spacing: 3px;
    border-bottom: 1.2px solid #eee;
  }

  .nav-link-lg:hover {
    color: rgb(250, 214, 12);
  }

  .ham-menu {
    display: none;
  }

  .home-projects-btn:hover {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
  }

  .download-project:hover {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
  }

  .btn {
    width: 40%;
  }
  .btn:hover {
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 50%);
  }

  .about-content .skills-icons {
    gap: 4rem;
  }

  .project {
    width: 40%;
    padding-bottom: 2rem;
  }

  .contact-content .contact-form {
    width: 60%;
    padding: 4rem;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 40%);
  }

  .footer-content .fa {
    font-size: 1.5rem;
  }
}

/* font-family: "Rowdies", cursive; */
