* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rowdies", cursive;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 4.4em;
  border-bottom: 1.2px solid #eee;
}

#nav-name-image .name {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#nav-items-container {
  display: none;
}

#nav-items-container .navbar-items {
  list-style: none;
  position: absolute;

  background-color: #fff;
  width: 100vw;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.nav-item .nav-link {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  padding: 1.3rem;
  letter-spacing: 3px;
  border-bottom: 1.2px solid #eee;
}

.ham-menu .hamburger-image {
  width: 1.6em;
  height: 1.6em;
}
.ham-menu .close-menu {
  width: 1.4em;
  height: 1.4em;
}

.home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
  line-height: 3rem;
  background-color: rgba(229, 234, 238, 0.568);
}

.home-content .home-heading {
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.home-content .home-text {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.home-content .home-projects-btn {
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  width: 10rem;
  text-align: center;
  background-color: rgb(250, 214, 12);
  border-radius: 5%;
  letter-spacing: 0.1rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.about-content .heading-about {
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  margin: 1.5rem;
}

.about-content .about-details {
  line-height: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.about-content .heading-skills {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.8rem;
}

.about-content .skills-icons {
  display: flex;
  gap: 1rem;
}

.programing-icon {
  width: 5rem;
  height: 5rem;
}

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  background-color: rgba(229, 234, 238, 0.568);
  padding-top: 8rem;
}

.projects-content .heading-projects {
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  margin: 1.5rem;
}

.projects-content .subtitle-projects {
  line-height: 1.5rem;
  margin-bottom: 8rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 90%;
  margin-bottom: 8rem;
  line-height: 2;
  box-shadow: 2px 2px 5px #ccc;
  text-align: center;
  background-color: #fff;
  padding-bottom: 1rem;
}

.project-img {
  width: 100%;
}
/* font-family: "Rowdies", cursive; */
